.menu-card {
    display: flex;
    flex-direction: column;
    padding: 10px;;
    border-radius: 8px;
}

.menu-card-title {
    display: flex;
    flex: row;
    justify-content: space-between;
    font-weight: bold;
}

.caret-down {
    border-bottom: 5px solid lightgray;
} 

.category-title-accordion:hover {
    cursor: pointer;
    background-color: antiquewhite;
    padding: 0 5px;
    background-color: antiquewhite;
    border-radius: 3px;
}

.menu-card-details {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    justify-content: space-between;
    gap: 50px;
}

.menu-card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-card-name {
    font-weight: bold;
}

.menu-card-img {
    width: 150px;
    height: 150px;
    border-radius: 8px;;
}

.menu-card-rating {
    color: green;
}

.menu-card-desc {
    color: rgb(68, 68, 68);
    font-size: small;
}

.item-veg {
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}

.item-nonveg {
    width: 10px;
    height: 10px;
    padding: 2px;
    background-color: rgb(236, 21, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -5px;
}