.menu-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
}

.menu-card-title {
    display: flex;
    flex: row;
    justify-content: space-between;
    font-weight: bold;
}

.title-underline {
    border-bottom: 5px solid lightgray;
} 

.category-title-accordion:hover {
    cursor: pointer;
    background-color: antiquewhite;
    padding: 0 5px;
    background-color: antiquewhite;
    border-radius: 3px;
}