.details-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: monospace;
    margin: 0 20%;
}

.res-detail-card {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    gap: 10px;
}

.res-cuisines {
    color: rgb(237, 104, 104);
    text-decoration-line: underline;
}

.res-distance {
    font-size: small;
    color: rgb(123, 117, 117)
}

.categories {
    border-bottom: 15px solid rgb(244, 241, 241);
    padding: 10px;
}

.category-name {
    margin: 0 10px;
    font-family: fantasy;
    font-weight: bold;
    font-size: large;
    color: rgb(107, 105, 105);
}