.body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: monospace;
}

.top-container {
    display: flex;
    padding-right: 20px;
    justify-content: space-between;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.filter-btn {
    font-size: smaller;
}