.menu-card-details {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    justify-content: space-between;
    gap: 5px;
    font-family: monospace;
}

.menu-card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-card-name {
    font-weight: bold;
}

.menu-card-img {
    width: 120px;
    height: 120px;
    border-radius: 5px;
}

.menu-card-rating {
    color: green;
}

.menu-card-desc {
    color: rgb(68, 68, 68);
    font-size: small;
}

.item-veg {
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}

.item-nonveg {
    width: 10px;
    height: 10px;
    padding: 2px;
    background-color: rgb(236, 21, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -5px;
}